SPRING_PROFILES_ACTIVE=dev

# 각자의 개발환경에 맞는 PASSWORD와 DB_NAME으로 변경해주세요
# MySQL
MYSQL_ROOT_PASSWORD=PASSWORD
MYSQL_DATABASE=DB_NAME

# Spring datasource
DB_URL=jdbc:mysql://mysql:3306/DB_NAME?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=USERNAME
DB_PASSWORD=PASSWORD